.display-header-admin{
    display: flex;
}
.logo-admin{
    width: 70%;
    height: 100px;
}
.title-header-admin{
    text-align: center;
    color: white;
    position: relative;
    top: 10px;
    white-space: nowrap;
}