
.display-body-admin{
    display: flex;
    min-height: 540px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.body{
    /* --bs-body-bg: black; */
    background-image: linear-gradient(rgb(2, 1, 18), rgb(49, 52, 50));
    background-size: cover; 
    background-position: center; 
    padding: 0;
    margin: 0;
    
}
.input-search-admin{
    margin: 4px;
    border: none;
    border: solid 1px white;
    background: none;
    color: white;
    border-radius: 3px;
}
.button-search-admin{
    border: none;
    border-radius: 3px;
}
.button-cleaer-admin{
    margin: 3px;
    border: none;
    width: 33px;
    height: 28px;
    position: relative;
    top: 1px;
    border-radius: 3px;
}