.display{
    display: flex;
}
.home-page{
    background: #000000;
}
.btn-homePage{
    width: 100%;
    text-align: left;
    margin: 6px;
    height: 35px;
    border: none;
    background: none;
    color: white;
}
.wap-homePage{
    flex-wrap: wrap;
}
.backgound-div{
    background: #1B1A1A;
    padding: 12px;
    border-radius: 10px;
    height: auto;
    
}
.pading-header{
    padding: 20px;

}
.bdr-rds{
    border-radius: 19px;
}
.color-text{
    color: rgb(107, 105, 105);
    font-size: smaller;
}
.select-language{
    background: none;
    color: gray;
    border: none;
}
.icon-language{
    color: white;
}
.option-select{
    background: #1B1A1A;
    color: white;
    
}
.home-page {
    background-image: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: cover; /* Đảm bảo hình ảnh sẽ được kéo căng để phù hợp với kích thước của phần tử */
  background-position: center; /* Hiển thị hình ảnh ở trung tâm của phần tử */
}
.body-loginPage{
    background: black;
    height: 100%;
}
.audio-footer{
    background: black;

}
