.modal-header{
  background: #9FD8F6 !important;
   
}

.custom-modal-body {
    background-image: url('https://gcs.tripi.vn/public-tripi/tripi-feed/img/474101aac/background-giai-dieu-am-nhac_013834986.jpg ');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .form-control{
    background: none !important;
    border: solid 2px black !important;
  }
  .form-label{
    font-weight: bold;
    color: black;
  }
  .modal-footer{
    background: #9FD8F6 !important;
  }
  .btn-primary {
    --bs-btn-border-color: none !important;
}