.paging-css {
    display: flex;
    justify-content: flex-end; /* Đẩy phần tử về phía bên phải của container */
  }
  
  .pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-color: #fff !important;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff !important;
    --bs-pagination-active-bg: rgb(2, 1, 18);
    --bs-pagination-active-border-color: #fff !important;
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}

  /* CSS cho responsive font size */
@media (max-width: 768px) {
    .table th,
    .table td {
      font-size: 12px; /* Thiết lập kích thước font nhỏ hơn cho màn hình nhỏ */
    }
  }
  /* CSS cho responsive font size trong button */
@media (max-width: 768px) {
    .btn {
      font-size: 12px; /* Thiết lập kích thước font nhỏ hơn cho màn hình nhỏ */
    }
  }
  .long-text {
    max-width: 150px; /* Giới hạn chiều rộng của cột */
    white-space: nowrap; /* Ngăn văn bản quá dài xuống dòng */
    overflow: hidden; /* Ẩn phần văn bản vượt quá chiều rộng */
    text-overflow: ellipsis; /* Thay thế văn bản bị ẩn bằng dấu chấm ba */
  }
  .title-remove{
    color: white;
  }
  .background-picture{
    background-image: linear-gradient(rgb(2, 1, 18), rgb(49, 52, 50));
  }